{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "CustomEvent": true,
    "jasmine": true,
    "node": true,
    "Promise": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["babel"],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5"
      }
    ]
  }
}
